<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @machine.description %>
</p>

<p>
  <strong>Station:</strong>
  <%= @machine.station %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
